In [96]:
import pandas as pd
import math

In [97]:
df = pd.read_csv('./data/adult.data.csv')

 # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [98]:

race_count = df['race'].value_counts()
print(race_count)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

 # What is the average age of men?

In [116]:
average_age_men = round(df[df['sex'] == 'Male']['age'].mean(),1)
print(average_age_men)

39.4

 # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
  # What percentage of people without advanced education make more than 50K?

  # with and without `Bachelors`, `Masters`, or `Doctorate`

In [100]:
bachelor_degree_holders_count = df[df['education'] == 'Bachelors']['education'].count()
print(bachelor_degree_holders_count)
percentage_bachelors = bachelor_degree_holders_count / df['education'].count() * 100
print(percentage_bachelors)

5355
16.44605509658794

In [101]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
bsc_holders = (df['education'] == 'Bachelors')
msc_holders = (df['education'] == 'Masters')
phd_holders = (df['education'] == 'Doctorate')

adv_edu_holders = (bsc_holders | msc_holders | phd_holders)

higher_education = df[adv_edu_holders]
print("higher education: ",higher_education)
lower_education = df[adv_edu_holders]
print("lower education: \n", lower_education.head())

higher education:         age         workclass  fnlwgt  education  education-num  \
0       39         State-gov   77516  Bachelors             13
1       50  Self-emp-not-inc   83311  Bachelors             13
4       28           Private  338409  Bachelors             13
5       37           Private  284582    Masters             14
8       31           Private   45781    Masters             14
...    ...               ...     ...        ...            ...
32538   38           Private  139180  Bachelors             13
32539   71                 ?  287372  Doctorate             16
32544   31           Private  199655    Masters             14
32553   32           Private  116138    Masters             14
32554   53           Private  321865    Masters             14

           marital-status       occupation   relationship                race  \
0           Never-married     Adm-clerical  Not-in-family               White
1      Married-civ-spouse  Exec-managerial        Husband               White
4      Married-civ-spouse   Prof-specialty           Wife               Black
5      Married-civ-spouse  Exec-managerial           Wife               White
8           Never-married   Prof-specialty  Not-in-family               White
...                   ...              ...            ...                 ...
32538            Divorced   Prof-specialty      Unmarried               Black
32539  Married-civ-spouse                ?        Husband               White
32544            Divorced    Other-service  Not-in-family               Other
32553       Never-married     Tech-support  Not-in-family  Asian-Pac-Islander
32554  Married-civ-spouse  Exec-managerial        Husband               White

          sex  capital-gain  capital-loss  hours-per-week native-country  \
0        Male          2174             0              40  United-States
1        Male             0             0              13  United-States
4      Female             0             0              40           Cuba
5      Female             0             0              40  United-States
8      Female         14084             0              50  United-States
...       ...           ...           ...             ...            ...
32538  Female         15020             0              45  United-States
32539    Male             0             0              10  United-States
32544  Female             0             0              30  United-States
32553    Male             0             0              11         Taiwan
32554    Male             0             0              40  United-States

      salary
0      <=50K
1      <=50K
4      <=50K
5      <=50K
8       >50K
...      ...
32538   >50K
32539   >50K
32544  <=50K
32553  <=50K
32554   >50K

[7491 rows x 15 columns]
lower education:
    age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
4   28           Private  338409  Bachelors             13
5   37           Private  284582    Masters             14
8   31           Private   45781    Masters             14

       marital-status       occupation   relationship   race     sex  \
0       Never-married     Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse  Exec-managerial        Husband  White    Male
4  Married-civ-spouse   Prof-specialty           Wife  Black  Female
5  Married-civ-spouse  Exec-managerial           Wife  White  Female
8       Never-married   Prof-specialty  Not-in-family  White  Female

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
4             0             0              40           Cuba  <=50K
5             0             0              40  United-States  <=50K
8         14084             0              50  United-States   >50K

In [102]:
advanced_ed_sal_50k = higher_education[higher_education['salary'] == '>50K']['education'].count()
print(advanced_ed_sal_50k)
basic_ed_sal_50k = lower_education[lower_education['salary'] == '<=50K']['education'].count()
print(basic_ed_sal_50k)

3486
4005

In [103]:
# percentage with salary >50K
higher_education_rich = advanced_ed_sal_50k / df[adv_edu_holders]['salary'].count() * 100
lower_education_rich = basic_ed_sal_50k / df[~adv_edu_holders]['salary'].count() * 10

print(higher_education_rich)
print(lower_education_rich)

46.535843011613935
1.597526924611089

# a person works per week (hours-per-week feature)?

In [104]:
min_work_hours = df['hours-per-week'].min()
print(min_work_hours)

1

In [105]:
num_min_workers = df[df['hours-per-week'] == min_work_hours]
print(num_min_workers)

       age         workclass  fnlwgt     education  education-num  \
189     58         State-gov  109567     Doctorate             16
1036    66      Self-emp-inc  150726           9th              5
1262    69                 ?  195779     Assoc-voc             11
5590    78                 ?  363134       HS-grad              9
5632    45                 ?  189564       Masters             14
5766    62                 ?   97231  Some-college             10
5808    76                 ?  211574          10th              6
8447    67                 ?  244122     Assoc-voc             11
9147    75                 ?  260543          10th              6
11451   27           Private  147951       HS-grad              9
19337   72                 ?   76860       HS-grad              9
19750   23           Private   72887       HS-grad              9
20072   65                 ?   76043       HS-grad              9
20909   77  Self-emp-not-inc   71676  Some-college             10
22960   21           Private  184135       HS-grad              9
23536   69                 ?  320280  Some-college             10
24284   57  Self-emp-not-inc   56480       HS-grad              9
25078   74           Private  260669          10th              6
29752   69                 ?  117525    Assoc-acdm             12
32525   81                 ?  120478     Assoc-voc             11

           marital-status         occupation    relationship  \
189    Married-civ-spouse     Prof-specialty         Husband
1036   Married-civ-spouse    Exec-managerial         Husband
1262              Widowed                  ?   Not-in-family
5590              Widowed                  ?   Not-in-family
5632   Married-civ-spouse                  ?            Wife
5766   Married-civ-spouse                  ?            Wife
5808   Married-civ-spouse                  ?         Husband
8447              Widowed                  ?   Not-in-family
9147              Widowed                  ?  Other-relative
11451       Never-married  Machine-op-inspct  Other-relative
19337  Married-civ-spouse                  ?         Husband
19750       Never-married       Craft-repair       Own-child
20072  Married-civ-spouse                  ?         Husband
20909             Widowed       Adm-clerical   Not-in-family
22960       Never-married  Machine-op-inspct       Own-child
23536       Never-married                  ?   Not-in-family
24284  Married-civ-spouse    Exec-managerial         Husband
25078            Divorced      Other-service   Not-in-family
29752            Divorced                  ?       Unmarried
32525            Divorced                  ?       Unmarried

                     race     sex  capital-gain  capital-loss  hours-per-week  \
189                 White    Male             0             0               1
1036                White    Male          1409             0               1
1262                White  Female             0             0               1
5590                White  Female             0             0               1
5632                White  Female             0             0               1
5766                White  Female             0             0               1
5808                White    Male             0             0               1
8447                White  Female             0             0               1
9147   Asian-Pac-Islander  Female             0             0               1
11451               White    Male             0             0               1
19337  Asian-Pac-Islander    Male             0             0               1
19750  Asian-Pac-Islander    Male             0             0               1
20072               White    Male             0             0               1
20909               White  Female             0          1944               1
22960               Black    Male             0             0               1
23536               White    Male          1848             0               1
24284               White    Male             0             0               1
25078               White  Female             0             0               1
29752               White  Female             0             0               1
32525               White  Female             0             0               1

      native-country salary
189    United-States   >50K
1036               ?  <=50K
1262   United-States  <=50K
5590   United-States  <=50K
5632   United-States  <=50K
5766   United-States  <=50K
5808   United-States  <=50K
8447   United-States  <=50K
9147           China  <=50K
11451  United-States  <=50K
19337  United-States  <=50K
19750        Vietnam  <=50K
20072  United-States   >50K
20909  United-States  <=50K
22960  United-States  <=50K
23536  United-States  <=50K
24284  United-States  <=50K
25078  United-States  <=50K
29752  United-States  <=50K
32525              ?  <=50K

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [106]:
rich_min_workers = num_min_workers[num_min_workers['salary'] == '>50K'].value_counts().count()
print(rich_min_workers)

2

In [107]:
rich_percentage = rich_min_workers / num_min_workers.value_counts().count() * 100
print(rich_percentage)

10.0

# What country has the highest percentage of people that earn >50K?

In [108]:
# h_e_c = highest earning countries
h_e_c = df[df['salary'] == '>50K']['native-country']
# c_num = countries count
c_num = df['native-country'].count()
print('countries count: ',c_num)

print(h_e_c.value_counts().iloc[0])

countries count:  32561
7171

In [109]:
highest_earning_country = h_e_c.value_counts().idxmax()
highest_earning_country_percentage = h_e_c.value_counts().iloc[0] / c_num * 100

print('highest earning country: ', highest_earning_country)
print('highest earning country percentage: ', highest_earning_country_percentage)

highest earning country:  United-States
highest earning country percentage:  22.023279383311323

In [110]:
top_IN_occupation = df[df['native-country'] == "India"][df['salary'] == ">50K"]['occupation'].value_counts().idxmax()
print(top_IN_occupation)

Prof-specialty

C:\Users\seun\AppData\Local\Temp\ipykernel_13448\2516605169.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  top_IN_occupation = df[df['native-country'] == "India"][df['salary'] == ">50K"]['occupation'].value_counts().idxmax()